.orderListParent
{
	background-color : blue;
	width: 100%;
	height: 70px;
	margin-bottom: 5px;
}
.orderListImg
{
	height: 50px;
	width: 50px;
	background-color: orange;
	float: left;
	position: relative;
	margin: 10px 10px 0px 10px;
	display: inline-block;
}
.orderTransactionId
{
	padding-top: 10px;
}