@mixin sadhuram()
{
    width: 100px;
    height: 100px;
}

@mixin sadhuram2($x,$y)
{
    width: $x;
    height: $y;
}

.prop1
{
    @include sadhuram2(100px,150px);
}
.prop2
{
    @include sadhuram();
}
.prop3
{
    @include sadhuram();
}
.prop4
{
    @include sadhuram();
}
.prop5
{
    @include sadhuram();
}
body
{
    margin: 0px;
}