.prop1 {
  width: 100px;
  height: 150px;
}

.prop2 {
  width: 100px;
  height: 100px;
}

.prop3 {
  width: 100px;
  height: 100px;
}

.prop4 {
  width: 100px;
  height: 100px;
}

.prop5 {
  width: 100px;
  height: 100px;
}

body {
  margin: 0px;
}
