@mixin displayBox($width:null, $height:null)
{
    @if $width != null {
        width : $width;
    }
    @if $height != null{
        height: $height;
    }
};

@mixin setDisplayPosition($dispVal:null, $posVal:null)
{
    @if $dispVal != null{
        $dis-mapper: (
            'b'   : block,
            'n'   : none,
            'g'   : grid,
            'i'   : inline,
            'ib'  : inline-block,
            'fx'  : flex,
            'ifx' : inline-flex,
            'bx'  : box,
            't'   : table,
            'tc'  : table-cell,
            'tr'  : table-row,
            'tcol': table-column
        );
        display : map-get($dis-mapper, $dispVal);
    }
    @if $posVal != null {
        $pos-mapper : (
            'r'  : relative,
            'a'  : absolute,
            'f'  : fixed,
            's'  : static,
        );
        position : map-get($pos-mapper, $posVal);
    }
}