.numpad, .itempad {
  display: inline-block;
}

.itempadBtn.btn.btn-primary.btn-sm {
  width: 100%;
  height: 100%;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 85px;
  border-radius: 0px;
}

#itemNextBtn, #itemPrevBtn {
  width: 100%;
  height: 50px;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 35px;
  border-radius: 0px;
}

#parentContainer {
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
}

#priceContainer {
  display: inline-block;
}

.numpadBtn {
  width: 100%;
  height: 100%;
  border-radius: 0;
  text-align: center;
  background-color: #FF4081;
}

#numpadContainer, #itempadContainer, #orderHistoryPageTemplate {
  width: 300px;
  height: 165px;
  overflow: none;
  box-sizing: content-box;
}

#itempadContainer {
  float: left;
  margin-top: 8px;
}

#numpadContainer {
  width: 100%;
  height: auto;
}

#billingBtnContainer, #displayContainer, .display-block, #itempadContainer {
  width: 100%;
  height: auto;
}

.margin0px {
  margin: 0;
}

#productTextContainer {
  padding: 0px;
}

#productTextContainer .display-block {
  height: auto;
}

#displayContainer {
  height: 150px;
}

.margin-btm10px {
  margin-bottom: 10px;
}

.itempad {
  width: 48%;
  height: 50px;
  height: 100px;
  margin: 3px;
  box-sizing: border-box;
}

#itemNextBtn, #itemPrevBtn {
  margin: 10px 0 5px 0;
}

.itempadBtn.printBtn.btn.btn-primary {
  width: 100%;
  height: 40px;
  line-height: 25px;
  margin-top: 5px;
  border-radius: 0;
}

.numpad {
  width: 30%;
  height: 40px;
  margin: 4px;
}

#parentContainer * {
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
}

#priceContainer {
  display: flex;
  align-content: center;
  align-self: center;
  margin: 55px 0 auto auto;
}

.header {
  background-color: #3F51B5;
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  color: white;
  text-indent: 15px;
  line-height: 40px;
}

#headerReplace {
  width: 100%;
  height: 55px;
}

.margintop45px {
  margin-top: 45px;
}

input[type='text'], input[type='text']:focus {
  outline: none;
  border: none;
  border-bottom-width: medium;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  border-bottom: 1px solid gray;
}

#priceContainer > input {
  display: inline-block;
  float: left;
  width: 47%;
  margin-left: 5px;
  margin-right: 5px;
}

#footer {
  width: 100%;
  height: 45px;
  position: fixed;
  background-color: #3F51B5;
  bottom: 0;
  display: flex;
  color: #fff;
  align-content: center;
  align-self: center;
}

#footer > div {
  display: inline-block;
  float: left;
  width: 33%;
  height: 50px;
  background-color: transparent;
  white-space: normal;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  font-weight: 500;
  border-color: lightgray;
  border-radius: 0;
}

#footer > div:last-child {
  border-right: 0px;
}

.itempadBtn.btn.btn-primary.btn-sm {
  background-color: #FF4081;
  border-color: lightgray;
}

#itemNextBtn, #itemPrevBtn {
  float: left;
  width: 48%;
  background-color: #C5CAE9;
  color: #555;
  border-color: #C5CAE9;
  margin: 3px;
}

.itemNavButtonCont {
  display: inline-block;
  width: 100%;
}

.itemBtnManipulateCont {
  margin-top: 20px;
}

.itempadPrintBtnCont {
  margin-top: 30px;
  width: 98%;
  margin-left: 5px;
  margin-right: 5px;
}

.numpad:first-child, .numpad:nth-child(4), .numpad:nth-child(7), .numpad:nth-child(10), .numpad:nth-child(13) {
  margin-left: 8px;
}

.hide {
  display: none;
}
